/models
/results
/datasets
/notebooks/models
/notebooks/datasets
/notebooks/results
/notebooks/encoder
/notebooks/netdissect
/notebooks/utils
/.idea
/testdata
.ipynb_checkpoints
__pycache__
*.pyc
.idea
node_modules/
.__*
.*.swp
sftp-config.json
